In [17]:
#### Вычисления с помщью Numpy
### Задание 1
###Импортируйте библиотеку Numpy и дайте ей псевдоним np.
###Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. 
###Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. 
###Будем считать, что каждый столбец - это признак, а строка - наблюдение. 
###Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. 
###Результат запишите в массив mean_a, в нем должно быть 2 элемента.

import numpy as np

In [27]:
a = np.array(
    [[1, 2, 3, 3, 1], 
    [6, 8, 11, 10, 7]]
).transpose()
print(a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

In [28]:
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [29]:
a

array([[ 1,  6],
       [ 2,  8],
       [ 3, 11],
       [ 3, 10],
       [ 1,  7]])

In [31]:
print("Размерность a {}".format(a.ndim))

Размерность a 2

In [32]:
print("Форма a {}".format(a.shape))

Форма a (5, 2)

In [33]:
mean_a = np.mean(a,axis=0)
print(mean_a)

[2.  8.4]

In [34]:
###Задание 2
###Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, 
###содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. 
###Получившийся массив должен иметь размер 5x2.

In [35]:
a_centered = np.subtract(a, mean_a)
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

In [36]:
###Задание 3
###Найдите скалярное произведение столбцов массива a_centered. 
###В результате должна получиться величина a_centered_sp. 
###Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [37]:
a_centered_sp = a_centered.T[0]@a_centered.T[1]
print(a_centered_sp)

8.0

In [38]:
a_centered_sp/(a_centered.shape[0]-1)

2.0

In [40]:
np.cov(a.T)[0,1]

2.0

In [ ]:
### Работа с Pandas

In [41]:
##Задание 1
##Импортируйте библиотеку Pandas и дайте ей псевдоним pd. 
##Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и 
##['Тургенев', 'Чехов', 'Островский'].
##Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
##[1, 1, 1, 2, 2, 3, 3],
##['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
##[450, 300, 350, 500, 450, 370, 290].

In [43]:
import pandas as pd
authors = pd.DataFrame({'author_id':[1, 2, 3], 
                        'author_name':['Тургенев', 'Чехов', 'Островский']}, 
                       columns=['author_id', 'author_name'])
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [44]:
book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
                    'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 
                                   'Таланты и поклонники'],
                    'price': [450, 300, 350, 500, 450, 370, 290]},
                   columns=['author_id', 'book_title', 'price'])
print(book)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [45]:
##Задание 2
##Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [48]:
authors_price = pd.merge(authors, book, on = 'author_id', how = 'outer')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [49]:
##Задание 3
##Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [51]:
top5 = authors_price.nlargest(5, 'price')
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [52]:
##Задание 4
##Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
##author_name, min_price, max_price и mean_price,
##в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [53]:
authors_stat = authors_price['author_name'].value_counts()
print(authors_stat)

Тургенев      3
Чехов         2
Островский    2
Name: author_name, dtype: int64

In [55]:
authors_stat = authors_price.groupby('author_name').agg({'price':['min', 'max', 'mean']})
authors_stat = authors_stat.rename(columns={'min':'min_price', 'max':'max_price', 'mean':'mean_price'})
print(authors_stat)

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургенев          300       450  366.666667
Чехов             450       500  475.000000

In [56]:
#Задание 5**
#Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, 
#какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
#['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
#Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.
#Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. 
#Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", 
#а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, 
#при необходимости загрузите библиотеку Numpy.
#Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". 
#Затем загрузите из этого файла датафрейм и назовите его book_info2. 
#Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [57]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [58]:
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'], columns=['cover'], aggfunc=np.sum)
book_info['мягкая'] = book_info['мягкая'].fillna(0)
book_info['твердая'] = book_info['твердая'].fillna(0)
print(book_info)

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0

In [61]:
book_info.to_pickle("book_info.pkl")

In [63]:
book_info2 = pd.read_pickle("book_info.pkl")
print(book_info2)

cover        мягкая  твердая
author_name
Островский    660.0      0.0
Тургенев      650.0    450.0
Чехов           0.0    950.0