In [12]:
##Задание 1
import numpy as np
import pandas as pd

In [13]:
from sklearn.datasets import load_boston

In [14]:
boston = load_boston()
data = boston["data"]

In [15]:
data.shape

(506, 13)

In [16]:
data

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
        4.9800e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
        9.1400e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
        4.0300e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        5.6400e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
        6.4800e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
        7.8800e+00]])

In [17]:
target = boston.target

In [18]:
feature_names = boston["feature_names"]
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [19]:
target = boston["target"]
Y = pd.DataFrame(target, columns=["price"])
Y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [20]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
lr = LinearRegression()

In [29]:
lr.fit(X_train, Y_train)

LinearRegression()

In [30]:
y_pred = lr.predict(X_test)

In [58]:
check_test_lr = pd.DataFrame({'Y_test': Y_test['price'],
                         'y_pred': y_pred.flatten()},
                         columns = ['Y_test', 'y_pred'])

In [59]:
check_test_lr.head()

     Y_test  y_pred
173    23.6  22.907
274    32.4  31.147
491    13.6  15.767
72     22.8  23.993
452    16.1  17.065

In [60]:
check_test_lr['error'] = check_test_lr['y_pred'] - check_test_lr['Y_test']

In [61]:
check_test_lr.head()

     Y_test  y_pred  error
173    23.6  22.907 -0.693
274    32.4  31.147 -1.253
491    13.6  15.767  2.167
72     22.8  23.993  1.193
452    16.1  17.065  0.965

In [35]:
initial_mse = (check_test['error']**2).mean()
initial_mse

21.517444231177397

In [37]:
from sklearn.metrics import mean_squared_error

In [62]:
initial_mse_lr = mean_squared_error(Y_test, y_pred)
initial_mse_lr

9.11903961842105

In [76]:
(np.abs(check_test_lr['error'])).mean()

2.056736842105263

In [42]:
from sklearn.metrics import mean_absolute_error

In [43]:
mean_absolute_error(Y_test, y_pred)

3.1627098714574218

In [44]:
from sklearn.metrics import r2_score

In [46]:
r2_score(Y_test, y_pred)

0.7112260057484909

In [47]:
##Задание 2

In [48]:
from sklearn.ensemble import RandomForestRegressor

In [49]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [50]:
model.fit(X_train, Y_train.values[:,0])

RandomForestRegressor()

In [65]:
y_pred=model.predict(X_test)

In [66]:
check_test_model = pd.DataFrame({'Y_test': Y_test['price'],
                         'y_pred_model': y_pred.flatten()},
                         columns = ['Y_test', 'y_pred_model'])

In [67]:
check_test_model.head()

     Y_test  y_pred_model
173    23.6        22.907
274    32.4        31.147
491    13.6        15.767
72     22.8        23.993
452    16.1        17.065

In [68]:
initial_mse_2 = mean_squared_error(Y_test, y_pred)
initial_mse_2

9.11903961842105

In [70]:
from sklearn.metrics import mean_squared_error

In [73]:
mean_squared_error_model = mean_squared_error(check_test_model["y_pred_model"], check_test_model["Y_test"])
print(mean_squared_error_model)

9.11903961842105

In [77]:
print(initial_mse, mean_squared_error_model)

21.517444231177382 9.11903961842105

In [78]:
##Алгоритм "Случайный лес" показывает более точные результаты, чем линейная регрессия примерно в 2,35 раз

In [79]:
##Задание 3

In [80]:
print(model.feature_importances_)

[0.02887238 0.00256018 0.00653385 0.00094456 0.01543764 0.42085707
 0.01460978 0.06175037 0.00467798 0.01497541 0.01779593 0.01274818
 0.39823668]

In [91]:
feature_importance = pd.DataFrame({'name': X.columns,
                                  'feature_importance': model.feature_importances_},
                                 columns=['feature_importance','name'])

In [92]:
feature_importance

    feature_importance     name
0             0.028872     CRIM
1             0.002560       ZN
2             0.006534    INDUS
3             0.000945     CHAS
4             0.015438      NOX
5             0.420857       RM
6             0.014610      AGE
7             0.061750      DIS
8             0.004678      RAD
9             0.014975      TAX
10            0.017796  PTRATIO
11            0.012748        B
12            0.398237    LSTAT

In [93]:
feature_importance.nlargest(2, 'feature_importance')

    feature_importance   name
5             0.420857     RM
12            0.398237  LSTAT